<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} : {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="/css/main.css"> -->
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        
        <style>
            body {margin-top:60px;font-family: 'Open Sans';}
        </style>

    </head>
    <body class="container">
            <div class="header">
              {% include navigation.html %}
            </div>
     
                {{ content }}

            <div class="footer">
                <hr />
                <div class="row">
                    <div class="col col-lg-6">
                        <p>
                            <a href="http://github.com/burnsra/">github.com/burnsra</a>
                        </p>
                    </div>
                    <div class="col col-lg-6">
                        <p class="pull-right">
                            <a href="http://twitter.com/burnsra/">twitter.com/burnsra</a>
                        </p>
                    </div>
                </div>
            </div>

    </body>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</html>
